body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(76, 76, 138), rgb(255, 255, 255)); /*maybe this can change based on the weather output?*/

}

h1 {
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: sans-serif;
}

.card {
    min-width: 400px;
}

.alert {
    display:none;
}

#result {
    display:none;
}

.clearsky{
    background-image: linear-gradient(rgb(245, 226, 61), white);
}

.fewcloud{
    background-image: linear-gradient(rgb(136, 161, 185), white);
}

.scatteredclouds{
    background-image: linear-gradient(rgb(143, 137, 85), white);
}

.brokenclouds{
    background-image: linear-gradient(rgb(151, 147, 113), white);
}

.showerrain {
    background-image: linear-gradient(rgb(99, 107, 226), white);
}

.rain{
    background-image: linear-gradient(rgb(61, 79, 245), white);
}

.thunderstorm{
    background-image: linear-gradient(rgb(22, 0, 121), white);
}

.snow{
    background-image: linear-gradient(rgb(82, 155, 240), white);
}

.mist{
    background-image: linear-gradient(rgb(70, 69, 68), white);
}