body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(10, 10, 212), rgb(140, 200, 240)); /*maybe this can change based on the weather output?*/

}

h1 {
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    font-family: sans-serif;
}

.card {
    min-width: 400px;
}

.alert {
    display:none;
}

#result {
    display:none;
}