body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb (47, 150, 163));
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(10, 10, 212), rgb(140, 200, 240)); /*maybe this can change based on the weather output?*/

}

